@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body{
    overflow-x: hidden;
}
*{
    font-family: poppins;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    outline: none;
}
.navbar{
    background-color:#F0F8FF ;    
    display: inline-flexbox;
    align-items: baseline;
    width: 100vw;
    padding: 0%; 
    margin: 0px;   
}
a{
    color:#4700FC ;
    font-family: poppins;
    text-decoration: none;
}
a:hover{
    color: #F8007A;
}
a:active{
    color: #FC7300;
    text-decoration: underline;
}
body{
    background-color: #ffffff;
    width: 100vw;
    height: auto;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(45deg,#FC7300,#FA3F37,#F8007A);
    display: inline-block;
}
.padding{
    padding: 30px;

}
.hero{
    font-size: 48px;    
    flex-direction: column;
    margin: 10% auto 2% auto;
}
.p{
    color: #BF4D34;
}
#order{
  color: #FC7300;
  padding-left: 15%;
}
#delivery{
  color: #4700FC;
  padding-left: 20%;
}
.row{
display: flex;
flex-direction: row;
width: 100vw;
margin: 0px 5% 0px 5%;
}
#delr{
    float: left; 

}
#fdl{
    float: right;
   margin-right: 0px;
}
#p{
    margin-left: 20%;
    font-weight: normal;
}
button{
    padding: 1%;
    border-radius: 5%;
    border: solid;
}
button{
    border: #FC7300 solid;
    background-color: #fff;
    color: #FC7300;
    margin-left: 33%;
}
button:hover{
    background-color: aliceblue;
    color: #F8007A; 
    font-weight: bolder;  
    font-size: 15px; 
    border: solid #FA3F37;
}
.pages{
    float: right;
    margin-top: 2%;
}

.column{
    width: 40%; 
}

#fd{
    padding-right: 0px;
    float: right;
}
#orderNow{
    margin-top: 5%;
    margin-bottom: 20%;
}
.footer{
    background-color: black;
    height: 50vh;
    padding: 2%;
    position: static;
}
.link{
    margin: 0px;
    padding: 2% 0;
    color: rgb(119, 187, 247);
    display: flex;
    flex-direction: column;

}
.link:hover{
    color: #FC7300;
}
.footcol{
    width: 100%;   
    padding: 0px    ; 
}
.footrow{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
}
h4{
    color: gray;
    margin: auto;
}
.links{
    width: auto;
}
.i{
    display: inline;
}
#about{
    color: #FC7300;
    font-weight: bolder;
    padding-left: 5%;
    margin-top: 5%;
}
#flogo{
    border-radius: 50%;
    border: rgb(119, 187, 247) solid;
    margin-left: 15%;
}
.i{
    padding-left: 2%;
}